services:
  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
        CLUSTER_ID: wE8T5xY3QyG0lZx7Jj3qZg==
        KAFKA_PROCESS_ROLES: broker,controller
        KAFKA_NODE_ID: 1
        KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
        KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
        KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
        KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - ./kafka-data:/var/lib/kafka/data

  spark-master:
    image: cluster-apache-spark:3.5.7
    container_name: master
    ports:
      - "8080:8080"
      - "7077:7077"
      - "15002:15002"
    volumes:
      - ./apps:/opt/spark-apps
      - ./data:/opt/spark-data
    environment:
      - SPARK_LOCAL_IP=spark-master
      - SPARK_WORKLOAD=master

  spark-worker-1:
    image: cluster-apache-spark:3.5.7
    ports:
      - "8081:8080"
      - "7000:7000"
    depends_on:
      - spark-master
    container_name: executor-1
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_DRIVER_MEMORY=1G
      - SPARK_EXECUTOR_MEMORY=1G
      - SPARK_WORKLOAD=worker
      - SPARK_LOCAL_IP=spark-worker-1
    volumes:
      - ./apps:/opt/spark-apps
      - ./data:/opt/spark-data

  spark-worker-2:
    image: cluster-apache-spark:3.5.7
    ports:
      - "8082:8080"
      - "7001:7000"
    depends_on:
      - spark-master
    container_name: executor-2
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_DRIVER_MEMORY=1G
      - SPARK_EXECUTOR_MEMORY=1G
      - SPARK_WORKLOAD=worker
      - SPARK_LOCAL_IP=spark-worker-2
    volumes:
      - ./apps:/opt/spark-apps
      - ./data:/opt/spark-data

  spark-worker-3:
    image: cluster-apache-spark:3.5.7
    ports:
      - "8083:8080"
      - "7002:7000"
    depends_on:
      - spark-master
    container_name: executor-3
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
      - SPARK_DRIVER_MEMORY=1G
      - SPARK_EXECUTOR_MEMORY=1G
      - SPARK_WORKLOAD=worker
      - SPARK_LOCAL_IP=spark-worker-3
    volumes:
      - ./apps:/opt/spark-apps
      - ./data:/opt/spark-data

  almond:
    image: almondsh/almond:latest
    container_name: almond
    ports:
      - "8888:8888"
      - "4040:4040"
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - NB_UID=1000
      - NB_GID=1000
    command: jupyter lab --ip=0.0.0.0 --no-browser --allow-root --NotebookApp.token='' --NotebookApp.password=''
    volumes:
      - ./work:/home/jovyan/work
      - ./cache:/home/jovyan/.cache
# ```
# almond:
#   image: almondsh/almond:0.14.0
#   container_name: almond
#   command: >
#     jupyter lab --ip=0.0.0.0 --no-browser --allow-root
#   ports:
#     - "8888:8888"

